# Poprawa Kolokwium 

## Termin realizacji 30.01.2026

Zadaniem tego projektu jest poprawa kolokwium pisanego w trakcie zajęć.
Ponieważ obecna forma poprawy została opracowana jako projekt indywidualny, gdzie posiadają Państwo większą ilość czasu należy wykonać ją **bez użycia jakichkolwiek innych bibliotek/pakietów, niż te, które zostały podane w pakietach podstawowych**

Poniższe zadania mają potwierdzić posiadane przez Państwa umiejętności budowania algorytmów uczenia maszynowego i  modelowania regresji na przykładzie danych zawierających ceny nieruchomości znajdujących się w pliku "domy.csv". W zadaniu należy wykorzystać wiedzę poznaną na laboratorium w tym metody regularyzacji, metody wyboru i tworzenia nowych zmiennych, określenie jakości modelu. Każdy otrzymany wynik ma być opisany stosownymi wnioskami.

Z poprawy można zdobyć 25 pkt. Zdobyte punkty nadpisują punkty zdobyte z kolokwium. Za każde zadanie można dostać od 0 do 5 pkt. Później nastąpi skalownie do 50 pkt.

Można korzystać z dowolnych źródeł.



### !!! Uwaga !!!
**Przesłanie pliku na ISOD potwierdza deklarację samodzielnego wykonania projektu!!!**

**Praca zespołowa czy kopiowanie kodu od kolegów jest zabronione!!!**

**Każda osoba pracuje na innych danych, więc podanie wniosków nieadekwatnych do otrzymanych wyników będzie uznane za próbę ściągania i karane niezaliczeniem kolokwium, a co za tym idzie przedmiotu!!!**

In [1]:
# Wyczanie pakietów podstawowych
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Wczytanie danych
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}
domy = pd.read_csv("domy.csv", sep=',', dtype=dtype_dict)
domy

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,0263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131,3,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530.0,1509.0
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813,2,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830.0,7200.0
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350,2,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020.0,2007.0
21611,0291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388,2,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410.0,1287.0
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076,2,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020.0,1357.0

### Podział danych zostanie dokonany zależnie od numeru indeksu

In [3]:
# !!!Jako random_state podaj swój numer indeksu!!!
numer_indeksu = 123456
ceny = domy['price']
domy.drop('price', axis=1, inplace=True)
domy_train, domy_test, ceny_train, ceny_test = train_test_split(domy, ceny, test_size=0.33, random_state=numer_indeksu)
cechy = domy.columns.values
cechy

array(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat',
       'long', 'sqft_living15', 'sqft_lot15'], dtype=object)

## Zadanie 1
Dokonaj analizy posiadanych zmiennych. Zakresy zmienności, korelacje, skośność. Dane nieużyteczne jak np. id można odrzucić. 

Zaproponuj 5 nowych cech będących wynikiem przeprowadzonych analiz lub doświadczeń.

***!!! Wszystkie podjęte wybory należy uzasadnić. !!!***

## Zadanie 2
Napisz metodę regresji krokowej w tył i za jej pomocą wybierz 5 najbardziej wartościowych cech.

## Zadanie 3
Korzystając z metody Lasso wybierz 5 najbardziej wartościowych cech z wszystkich cech wybranych w Zadaniu 1 + 5 zaproponowanych.

*Do wyznaczenia współczynników w tej metodzie należy zastosować metodę Spadku Koordynatów (ang. Coordinate Descent).*

*Wymagana w tej metodzie normalizacja cech może być ukryta w rozwiązaniu lub dokonana wcześniej.*

***!!! Normalizując zbiory unikaj informacji zawartej w zbiorze walidacyjnym i testowym !!!***

## Zadanie 4
Dla 5 wybranych w Zadaniu 3 cech dokonaj doboru współczynnika regularyzacji dla metody grzbietowej.

*Wyznaczenie współczynników można dokonać przy pomocy rozwiązania równania normalnego (należy pamiętać o pominięciu regularyzacji wyrazu wolnego). W przypadku złego uwarunkowania macierzy można zastosować metodę spadku gradientów, którą należy zaimplemntować samodzielnie.*

## Zadanie 5
Wytrenuj 5 modeli:
1. Wykorzystujący wszystkie cechy dane w zbiorze.
2. Wykorzystujący wszystkie cechy dane w zbiorze + 5 zaproponowanych.
3. Wykorzystujący 5 cech wybranych regresją krokową w tył.
4. Wykorzystujące tylko cechy wybrane dzięki metodzie Lasso.
5. Wykorzystujące cechy wybrane w metodzie Lasso i poddane regularyzacji grzbietowej dla wybranego współczynnika regularyzacji.

Porównaj średni błąd uczenia i testowania dla tych 5 modeli. Oceń, który model jest najlepszy.

*Wyznaczenie współczynników można dokonać przy pomocy rozwiązania równania normalnego (należy pamiętać o pominięciu regularyzacji wyrazu wolnego w metodzie grzbietowej). W przypadku złego uwarunkowania macierzy można zastosować metodę spadku gradientów, którą należy zaimplemntować samodzielnie.*